<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{ 'ROLES.NewRole' | translate }}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> {{ 'MENUITEMS.HOME.TEXT' | translate }}</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">{{ 'MENUITEMS.ROLES.TEXT' | translate }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'Roles.NewRole' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> {{ 'Country.NewCountry' | translate }}</strong></h2>
            <br>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"  appearance="outline">
                    <mat-label>{{ 'COMMON.Name' | translate }}</mat-label>
                    <input matInput formControlName="name" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"  appearance="outline">
                    <mat-label>{{ 'COMMON.ForignName' | translate }}</mat-label>
                    <input matInput formControlName="name_AR" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"  appearance="outline">
                    <mat-label>{{ 'COMMON.description' | translate }}</mat-label>
                    <input matInput formControlName="description" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-checkbox class="example-margin" formControlName="isActive">{{ 'COMMON.IsActive' | translate }}</mat-checkbox>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-checkbox class="example-margin" formControlName="isSystemRole">{{ 'COMMON.isSystemRole' | translate }}</mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!roleForm.valid " mat-raised-button
                    color="primary">{{ 'COMMON.Save' | translate }}</button>
                  <button type="button" mat-button>{{ 'COMMON.Cancel' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
